<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<h2>Product Review Sentiment Analysis</h2>
		</div>
	</header>

   <div class="results">

	   <div><a href="javascript:window.history.back();"> Go Back </a></div>
	   <br/>
		<p><b>Features and their importance</b></p>
	   {% for table in features_final %}
	   <h2>{{titles[loop.index]}}</h2>
       {{ table|safe }}
       {% endfor %}


   </div>

</body>
</html>